pandas
numpy      
matplotlib
scikit-learn
Flask
dill
catboost
xgboost
python-dotenv
pymongo[srv]==3.12
pydantic
certifi
mlflow
pyaml
dagshub
fastapi
python-multipart
streamlit
pymupdf
langchain-core
langchain-groq
langchain-community
pypdf